<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Shah Syed", suffix: " · Senior Engineer and Cloud Architect" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn,"/assets/app.css")}/>
    <link rel="icon" type="image/x-icon" href={Routes.static_path(@conn,"/images/favicon.ico")}>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn,"/assets/app.js")}></script>
</head>
<body>
<header>
    <section class="container">
        <div class="row">
            <div class="column">
                <nav>
                    <ul>
                        <li>
                            <a href="/" style="text-align: left";>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/resume"style="text-align: left";>
                                Résumé
                            </a>
                        </li>
                        <li>
                            <a href="/projects" style="text-align: left";>Projects</a>
                        </li>
                        <li>
                            <a href="/contact" style="text-align: left";>
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <a href="/">
                    <img class="float-left" style="border-radius: 50%; width: 120px; height: 120px; padding: 10px"
                         src={Routes.static_path(@conn, "/images/logo.svg")} alt="Shah Syed Logo"/>
                </a>
            </div>
            <div class="column">
            </div>
        </div>
    </section>
</header>
<%= @inner_content %>
<footer style="
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 120px;
    background-color: #f8f8f8;
    border-top: 1px solid #ecebeb;"
>
    <section class="container">
        <div class="row">
            <div class="column" style="text-align: center;">
                <a href="https://www.github.com/shahdeys"><img alt="image"
                                                               src={Routes.static_path(@conn,"/images/github.png")}
                                                               style="border-radius: 50%; width: 100px; height: 100px;"></a>
            </div>
            <div class="column" style="text-align: center;">
                <a href="https://stackoverflow.com/users/2951014/shah-syed"><img alt="image"
                                                                                 src={Routes.static_path(@conn,"/images/stacko.png")}
                                                                                 style="border-radius: 50%; width: 100px; height: 100px;"></a>
            </div>
            <div class="column" style="text-align: center;">
                <a href="https://www.linkedin.com/in/shahdeys"><img alt="image"
                                                                    src={Routes.static_path(@conn,"/images/linkedin.png")}
                                                                    style="border-radius: 50%; width: 100px; height: 100px;"></a>
            </div>
            <div class="column" style="text-align: center;">
                <a href="https://open.spotify.com/artist/7AZUoU8NuXIDMut0KcbSON"><img alt="image"
                                                                                      src={Routes.static_path(@conn,"/images/spotify.png")}
                                                                                      style="border-radius: 50%; width: 100px; height: 100px;"></a>
            </div>
            <div class="column" style="text-align: center;">
                <a href="https://www.soundcloud.com/shahdeys"><img alt="image"
                                                                   src={Routes.static_path(@conn,"/images/soundcloud.png")}
                                                                   style="border-radius: 50%; width: 100px; height: 100px;"></a>
            </div>
            <div class="column" style="text-align: center;">
                <a href="https://www.twitch.tv/shahdeys/"><img alt="image"
                                                               src={Routes.static_path(@conn,"/images/twitch.png")}
                                                               style="border-radius: 50%; width: 100px; height: 100px;"></a>
            </div>
        </div>
    </section>
</footer>
</body>
</html>
