<div class="animated fadeIn">
	<div class="page-header">
		<h1>{{title}}</h1>
	</div>
	<p>I'm currently working on a reddit-clone. This is mainly to teach myself how to use the MEAN stack, building a RESTful interface with Express and Node, and performing CRUD operations using MongoDB and Mongoose. The frontend uses AngularJS and Bootstrap.</p>
	<h2>Link</h2>
	<a href="http://mean.shahsyed.com">You can view the website here.</a>
	<h2>Download</h2>
	<a href="https://github.com/s37syed/reddit-clone">Source files are available here.</a>
</div>