#deny access to dot files and directories that start with .
RedirectMatch 403 /\..*$

#deny access to links that do not exist

#disable directory browsing
Options All -Indexes

#disable bots
Deny from 92.124.158
Deny from 81.8.136
