<h1>{{title}}</h1>
<p class="lead">If you would like to contact me, please fill out the form below.</p>
<form>
	<div class="form-group">
		<label for="nameLabel">Name</label>
		<input type="nameForm" class="form-control" id="inputName" placeholder="Name">
	</div>
	<div class="form-group">
	    <label for="emailLabel">Email address</label>
	    <input type="emailForm" class="form-control" id="inputEmail" placeholder="Email">
  	</div>
  	<div class="form-group">
  		<label for="textLabel">Message</label>
  		<textarea class="form-control" rows="5"></textarea>
  	</div>
  	<button type="submit" class="btn btn-default">Submit</button>
</form>