<h2>{{title}}</h2>
<p>Joy Pad was an idea inspired by Penny Arcade, a popular web comic series. My brother and I decided to put our artistic, comedic and technical talents together. Our goal was to deliver insightful critique, and provide general feedback about video games and video gaming culture. I unfortunately realized that I do not have the time to maintain and play video games as much as I did as a kid, and the site was abandoned as soon as it was published. Now that I have finished school, we may work on the site once more.</p>
<h2>Creation Process</h2>
<br><p>Essentially, this is my first dive into using any kind of web development stack. I created a test server using Windows WebMatrix. Eventually things didn't work, and I moved on to the more formal LAMP stack. This is also my first dive into the world of content-management services (namely WordPress). Since I'm not a "web designer" by trade, most of the site's styling was "borrowed" from Penny Arcade, an infamous web comic. In terms of design, many of the assets were heavily modified and most of the site code was rewritten for WordPress. Some of these intricate functionalities include:</p>
<ul>
	<li>Custom blog banner for distinguishing who is writing content</li>
	<li>RSS Feeder</li>
	<li>Custom Font</li>
	<li>Comic navigation</li>
	<li>Blog navigation</li>
</ul>
<h2>Website</h2>
<br><a href="#">The website is still up for viewing here.</a>