<h1 class="page-header">Hello!</h1>
<p class="lead">Senior engineer, currently employed at JP Morgan Chase.</p>
<p>Regardless of what role or what company I've worked at in the past, my goal is to always build great software using
    the right tools for the job, and make a huge impact to streamline a team's productivity.</p>
