<h1>Shah Syed</h1>
<h2>Senior Engineer</h2>
<p>
    Currently employed at priceline.
    <br><br/>
    Regardless of what role or what company I've worked at in the past, my goal is to always build great software using
    the right tools for the job, and make a huge impact to streamline a team's productivity.</p>
