<div class="animated fadeIn">
	<h1>Senior Engineer & Cloud Architect</h1>
	<p class="lead"><br/><br/>
		Currently employed at priceline.
		<br><br/>
		Regardless of what role or what company I've worked at in the past, my goal is to always build great software using the right tools for the job, and make a huge impact to streamline a team's productivity.</p>
</div>
