<router-outlet></router-outlet>
<ul class="list-inline">
	<li><a [routerLink]="['Projects', 'Chatserver']">ChatServer</a></li>
	<li><a [routerLink]="['Projects', 'Poker']">Javapoker</a></li>
	<li><a [routerLink]="['Projects', 'Joy']">Joy-Pad</a></li>
	<li><a [routerLink]="['Projects', 'Mappy']">Mappy Stars!</a></li>
	<li><a [routerLink]="['Projects', 'Reddit']">Reddit-Clone</a></li>
	<li><a [routerLink]="['Projects', 'Space']">Space Invaders Clone</a></li>
	<li><a [routerLink]="['Projects', 'Torcom']">TorCom!</a></li>
</ul>