<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<!-- navbar code-->
			<ul class ="nav nav-pills nav-stacked">
				<li role="presentation"><a [routerLink]="['Home']">Home</a></li>
				<li role="presentation"><a [routerLink]="['Resume']">Résumé</a></li>
				<li role="presentation"><a [routerLink]="['Projects']">Projects</a></li>
				<li role="presentation"><a [routerLink]="['Contact']">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<router-outlet></router-outlet>
		</div> 
</div>