<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<center>
			<div class="page-header">
				<h1>{{title}}</h1>
			</div>
				<img src="images/logo.svg" alt="Shah" class="img-circle">
				<ul class ="nav nav-pills nav-stacked">
					<br>
					<li><a [routerLink]="['About']">Home</a></li>
					<li><a [routerLink]="['Resume']">Résumé</a></li>
					<li><a [routerLink]="['Projects']">Projects</a></li>
					<li><a [routerLink]="['Contact']">Contact</a></li>
				</ul>
			</center>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-6">
			<!--<header><cust-header></cust-header></header>-->
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<!-- insert footer -->
<cust-footer></cust-footer>