<h1 class="page-header">Blog</h1>

<table>
    <thead>
    <th class="date">Date
    </th>
    <th class="post">Post Title
    </th>
    </thead>
    <tbody>
    <%= for post <- @posts do %>
    <tr>
        <td class="post-date">
            <%= post.date %>
        </td>
        <td class="post-title">
            <%= link post.title, to: Routes.blog_path(@conn, :show, post)%>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>