<div class="animated fadeIn">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <p>space-invaders-clone is what it is; a clone of Space Invaders made for an intro to software engineering course. It was developed by three people when in actuality six people were supposed to work together on the assignment. Several modifications were made to date.</p>
  <h2>Screenshot</h2>
  <a href="#" data-toggle="modal" data-target=".spaceModal">A screenshot is available here.</a>
  <h2>Download</h2>
  <a href="https://github.com/dmaugeri/Space-Invaders-Project">Source files are available here.</a>
</div>
<!-- Large modal -->
<div class="modal fade spaceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">{{title}} screenshot</h4>
    </div>
    <div class="modal-body">
      <center>
        <img src="http://i.imgur.com/rnPmnvJ.png" alt="Shah" width="50%" height="50%">
      </center>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
</div>