<h1 class="page-header">Portfolio</h1>
<p class="lead">It's this website!</p>
<p>I've been working on this website since March 7th, 2014!</p>

<p>It first started out as an Angular 2 project (which was in Beta 7 in 2014 and not yet released).</p>

<p>I've slowly used it to help me learn and apply new technologies as well as apply my understanding of things I wanted to learn.</p>

<p>So over the 10 years, some of the most coolest features I got to work on was building a trivial blog system, converting the project from Angular JS x (where x was the latest version at the time) to Elixir Phoenix LiveView, and implementing CI/CD via GitHub Actions Workflows!</p>
