<h1 class="page-header">Pythia</h1>
<p class="lead">This project is currently a work in progress.</p>
<p>Pythia is a microservice designed to return the current playing song in Spotify. It uses Apollo, a lightweight
    Java library for writing RESTful APIs.</p>
<h3>Source Code</h3>
<a href="https://github.com/shahdeys/pythia">Source files are available here.</a>
